# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/

# Android / Gradle
.gradle/
local.properties
**/build/
captures/
.idea/
*.iml

# Local AI helper docs (must stay untracked)
[Aa][Gg][Ee][Nn][Tt][Ss].md
[Cc][Ll][Aa][Uu][Dd][Ee].md
[Cc][Oo][Dd][Ee][Xx].md
[Gg][Ee][Mm][Ii][Nn][Ii].md
